<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="navbar(currentPage)">
    <ul>
        <li><a th:href="@{/admin/dashboard}" th:class="${currentPage == 'dashboard' ? 'active' : ''}">Dashboard</a></li>
        <li><a th:href="@{/admin/referees}" th:class="${currentPage == 'referees' ? 'active' : ''}">Referees</a></li>
        <li><a th:href="@{/admin/rankings}" th:class="${currentPage == 'rankings' ? 'active' : ''}">Rankings</a></li>
        <li><a th:href="@{/admin/specialties}" th:class="${currentPage == 'specialties' ? 'active' : ''}">Specialties</a></li>
        <li><a th:href="@{/admin/matches}" th:class="${currentPage == 'matches' ? 'active' : ''}">Matches</a></li>
        <li><a th:href="@{/admin/tournaments}" th:class="${currentPage == 'tournaments' ? 'active' : ''}">Tournaments</a></li>
        <li><a th:href="@{/admin/liquidations}" th:class="${currentPage == 'liquidations' ? 'active' : ''}">Liquidations</a></li>
        <li><a th:href="@{/logout}">Log out</a></li>
    </ul>
</nav>

</body>
</html>
