/* ====== GLOBAL ====== */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background: #211d1d;
  display: flex;
  min-height: 100vh;
}

/* ====== SIDEBAR ====== */
.sidebar {
  width: 240px;
  background: #121111;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.4);
}

.sidebar h2 {
  color: rgba(160, 101, 101, 0.748);
  font-weight: 700;
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul li a {
  display: block;
  color: #ddd;
  padding: 12px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  border-left: 4px solid transparent;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background: rgba(214, 88, 88, 0.15);
  color: #fff;
  border-left: 6px solid  rgba(215, 152, 152, 0.15);
}

/* ====== MAIN CONTENT ====== */
.main-content {
  flex: 1;
  padding: 4rem;
  text-align: center;
}

.main-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.intro {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 2.5rem;
}

/* ====== BUTTONS ====== */
.dashboard-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

.btn-custom {
  background-color: rgba(160, 101, 101, 0.748);
  color: white;
  font-weight: 600;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  text-decoration: none;
}

.btn-custom:hover {
  background-color: rgba(66, 7, 7, 0.748);
  transform: translateY(-3px);
}
