body {
  background-color: #6f0f0fbb; 
  color: white;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.card-tile {
  background-color: #c99494; 
  box-shadow: 0 10px 35px rgba(0,0,0,.2);
  border-radius: 20px;
  padding: 20px;
  transition: transform 0.2s;
  height: 100%;
}

.card-tile:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.card-text {
  font-size: 1.0rem;
  font-weight: bold;
  color: white;
}

.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.btn {
  font-weight: bold;
  font-size: 1.1rem;
}

.btn-custom {
  background-color: #6b0202cc; 
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  text-decoration: none 
}

.btn-custom:hover {
  background-color: #3f0707; 
  color: white;
}
