body {
    background: #211d1d;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
}


.login-container {
    background: rgba(0, 0, 0, 0.7); /* fondo negro semitransparente */
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 400px;
    color: white;
}


.form-label {
    color: white;
}


.btn-orange {
    background-color: rgba(160, 101, 101, 0.748);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.btn-orange:hover {
    background-color: rgba(66, 7, 7, 0.748);
    color: white;
}

.btn-outline-orange {
    color: rgb(247, 251, 249);
    border: 2px solid rgb(76, 109, 92);
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;
    padding: 6px 12px;
}

.btn-outline-orange:hover {
    background-color: rgb(76, 109, 92);
    color: white;
}

.admin-section {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #444;
    text-align: center;
    color: #ddd;
}
